####################################
# Maven
####################################
target/

####################################
# Java
####################################
*.class
*.log

####################################
# Database Credentials
####################################
src/main/resources/db.properties

####################################
# Eclipse
####################################
bin/
.settings/
.metadata/

####################################
# IntelliJ
####################################
.idea/
*.iml

####################################
# VS Code
####################################
.vscode/

####################################
# Operating System
####################################
.DS_Store
Thumbs.db

####################################
# Temporary Files
####################################
*.tmp
*.bak
*.swp
/build/
